<!DOCTYPE html>
<html>
<head>
  <title>Social Media Fingerprint</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="//www.iubenda.com/privacy-policy/7884732" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
  <script type="text/javascript">
    (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
    s.src = "//cdn.iubenda.com/iubenda.js";
    tag.parentNode.insertBefore(s,tag);};
    if(w.addEventListener){w.addEventListener("load", loader, false);}
    else if(w.attachEvent){w.attachEvent("onload", loader);}
    else{w.onload = loader;}})(window, document);
  </script>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <% if current_user %>
    <div><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
  <% end %>
  <%= yield %>
</body>
</html>
